@import '../../index.scss';

.params__search-wrapper {
  grid-column: 1 span;
  width: 300px;
  height: fit-content;
  height: fit-content;

  .params__date-title {
    display: grid;
    grid-template-columns: 120px auto;
    grid-column: 1 span;
    justify-self: end;
    align-self: center;

    p {
      align-self: center;
      display: inline-block;
      width: fit-content;
    }

    .search__field {
      position: relative;

      i.bx {
        position: absolute;
        width: fit-content;
        height: fit-content;
        align-self: center;
        font-size: 3rem;
        cursor: pointer;
        color: #161618;

        &#search {
          left: 7px;
          top: 3px;
        }

        &#delete {
          right: 2px;
          top: 2px;
        }
      }

      .search__input {
        grid-column: 1 span;
        height: fit-content;
        height: 100%;
        width: 100%;
        border: 0;
        border-radius: 4rem;
        background-color: $input-background-color;
        padding: 5px 30px 5px 40px;
        font-size: 2rem;

        &:focus {
          background-color: $input-background-color-hover;
        }
      }
    }
  }
}
