/*Global vars*/
$main-font: 'Montserrat', Arial, Helvetica, sans-serif;
$second-font: 'Raleway', Arial, Helvetica, sans-serif;
$background-color: rgb(39, 40, 46);
$accent-color: rgb(112, 111, 123);
$input-color: rgb(100, 100, 100);
$input-background-color: rgb(249, 249, 250);
$input-background-color-hover: rgb(209, 209, 209);
$main-color: rgb(255, 255, 255);
$error: #fe5f5a;
$success: #2cc944;
$navbar-height: 70px;
$footer-height: 240px;
$scroll-width: 1.5rem;
$footer-background-color: #161618;
